<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/static/semantic-0.12.4/css/semantic.min.css" />
    <style>
        html, body { margin: 0; padding: 0 }
        .repositories.items .item { min-height: 150px; }
    </style>
</head>
<body>
<div class="ui fixed main menu">
    <a class="active item" href="{{ url_for("home.index") }}">
        <i class="home icon"></i> Githubarium
    </a>
    <div class="right icon menu">
    {%- if not authenticated() %}
        <a class="item" href="{{ url_for('user.login') }}">
            <i class="github sign icon"></i> Sign in with GitHub
        </a>
    {%- else -%}
        <div class="item">{{ g.user_info.login }}</div>
        <a class="item" href="{{ url_for('user.logout') }}">
            <i class="sign out icon"></i>
        </a>
    {% endif -%}
    </div>
</div>
{% block content %}{% endblock %}
</body>
</html>
